# platform project
# define the root logger with DEBUG level, and let it log to console
log4j.rootLogger =DEBUG

#define the appender named CONSOLE
log4j.appender.Console=org.apache.log4j.ConsoleAppender
log4j.appender.Console.layout=org.apache.log4j.PatternLayout
log4j.appender.Console.layout.ConversionPattern=%d{HH:mm:ss} [%t] [%c] [%-5p] - %m%n

log4j.appender.All=org.apache.log4j.DailyRollingFileAppender
log4j.appender.All.File=logs/tcpserver.txt
log4j.appender.All.layout=org.apache.log4j.PatternLayout
log4j.appender.All.layout.ConversionPattern=%d{HH:mm:ss} [%t] [%c] [%-5p] - %m%n
 
log4j.logger.TcpServer=DEBUG,Console
